* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    width: 100%;
}

body {
    background-color: #f4dde2;
    width: 100%;
    cursor: url('../img/spoony.png') 16 16, auto;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    background-color: #4e372e;
    font-size: 25px;
    /* padding-top: 3%; */
    gap: 5%;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.logo {
    width: 4%;
}

.logo :hover {
    cursor: pointer;
}

h1 { 
    font-family: "neutronic-rounded", sans-serif;
    font-weight: 700;
    color: #4e372e;
    font-size: 12;
}

h2 { 
    font-family: "instrument-serif", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #4e372e;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    text-align: center;
    margin: 10px
}

a{ 
    font-family: "neutronic-rounded", sans-serif;
    font-weight: 700;
    color: #4e372e;
    gap: 5%;
    width: 100%;
    justify-content: space-around;
}

h3 {
    font-family: "instrument-serif", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 15pt;
}

p {
    font-family: "times-new-roman", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
}

.column {
    float: left;
    width: 50%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.sketchy {
    width: 50%;
}
