* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body {
    background-color: #f4dde2;
    width: 100%;
    cursor: url('../img/spoony.png') 16 16, auto;
    
   
}


.navbar {
    display: flex;
    justify-content: flex-start;
    background-color: #4e372e;
    font-size: 25px;
    /* padding-top: 3%; */
    gap: 5%;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.logo {
    width: 4%;
}

.logo :hover {
    cursor: pointer;
}
    

h1 { 
    font-family: "neutronic-rounded", sans-serif;
    font-weight: 700;
    color: #4e372e;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

h2 { 
    font-family: "neutronic-rounded", sans-serif;
    font-weight:700;
    font-style: normal;
    color: #4e372e;
    display: flex;
    padding-top: 3%;
    justify-content: space-around;
    font-size: 20px;
    text-align: center;
    margin: 10px
}

a{ 
    font-family: "neutronic-rounded", sans-serif;
    font-weight: 700;
    color: #4e372e;
    gap: 5%;
    width: 100%;
    justify-content: space-around;
}

p {
    font-family: "national-park", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
}




.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
    width: 100%;
    padding: 3%;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.creamy {
    width: 150px;
}